<h1>Rolly Ecommerce</h1>
<p>Welcome to our Ecommerce App</p>


<a href="<%= products_path %>">Products</a>
<a href="<%= invoices_path %>">Invoices</a>
<% if (can? :read, User) %>
<a href="<%= users_path %>">Users</a>
<% end %>