<h1>Rolly Ecommerce</h1>
<p>Welcome to our Ecommerce App</p>


<a class="button btn btn-secondary" style="color: white;" href="<%= products_path %>">Products</a>
<a class="button btn btn-secondary" style="color: white;" href="<%= invoices_path %>">Invoices</a>
<% if (can? :read, User) %>
<a class="button btn btn-secondary" style="color: white;" href="<%= users_path %>">Users</a>
<% end %>